body {
    background-color: #F5F5DC;
    margin-left: 30px;
    margin-right: 30px;
}



header {
    
    background-color: #5F9EA0;
    height: 100px;
}


.rounded1 {
counter-reset: li; 
list-style: none;
padding: 0;
font-family: "Trebuchet MS", "Lucida Sans";
font-size: 20px;
}
.rounded1 a {
position: relative;
display: block;
padding: .4em .4em .4em 2em;
margin: .5em 0;
background: #DAD2CA;
color: #444;
text-decoration: none;
border-radius: .3em;
transition: .3s ease-out;
}
.rounded1 a:before {
content: counter(li);
counter-increment: li;
position: absolute;
left: -1.3em;
top: 50%;
margin-top: -1.3em;
background: #00FF7F;
height: 2em;
width: 2em;
line-height: 2em;
border: .3em solid white;
text-align: center;
font-weight: bold;
border-radius: 2em;
transition: all .3s ease-out;
}

.rounded2 {
counter-reset: li; 
list-style: none;
padding: 0;
font-family: "Trebuchet MS", "Lucida Sans";
font-size: 20px;
}
.rounded2 a {
position: relative;
display: block;
padding: .4em .4em .4em 2em;
margin: .5em 0;
background: #DAD2CA;
color: #444;
text-decoration: none;
border-radius: .3em;
transition: .3s ease-out;
}
.rounded2 a:before {
content: counter(li);
counter-increment: li;
position: absolute;
left: -1.3em;
top: 50%;
margin-top: -1.3em;
background: #DC143C;
height: 2em;
width: 2em;
line-height: 2em;
border: .3em solid white;
text-align: center;
font-weight: bold;
border-radius: 2em;
transition: all .3s ease-out;
}


.border1{
list-style: none;
padding: 0;
font-family: "Trebuchet MS", "Lucida Sans";
font-size: 20px;
}



.border {
list-style: none;
padding: 0;
}
.border li {
font-family: "Trebuchet MS", "Lucida Sans";
padding: 7px 20px;
margin-bottom: 10px;
border-radius: 5px;
border-left: 10px solid #f05d22; 
box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
     -2px -2px 5px 0 rgba(0,0,0,.1),
    2px 2px 5px 0 rgba(0,0,0,.1),
    -2px 2px 5px 0 rgba(0,0,0,.1);
font-size: 20px;
letter-spacing: 2px;
transition: 0.3s all linear;
}

.border li:nth-child(1){border-color: #20B2AA;}
.border li:nth-child(2){border-color: #20B2AA;}


.header_s {
    
    text-align: center;
    padding-top: 20px;
    line-height: 50px;
    font-size: 30px;
    font-family: "Trebuchet MS", "Lucida Sans";
    font-weight: 500px;
    color: #FFFAFA;


}


.string_of {


    text-align: justify;
    color: black;
    font-family: "Trebuchet MS", "Lucida Sans";
    font-size: 20px;
    
}
.string_of_h {


    text-align: center;
    color: black;
    font-family: "Trebuchet MS", "Lucida Sans";
    
}

.use_card{
    text-align: left;
    margin-bottom: 20px;
    padding-left: 15px;
    max-width: 250px;
}

.com_card_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.com_card {


    border-style: solid;
    border-color: #FFFAFA;
    text-align: left;
    box-shadow: 0 0 15px #696969;
    margin-bottom: 20px;
    padding-left: 15px;
    max-width: 250px;

}

.picture{
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline;
}



@media(max-width:1190px) {
    .container {
        width: 100%;
    }
    .header_s {
    
        padding-top: 20px;
        line-height: 25px;
        font-size: 20px;
        font-weight: 300px;
        color: #FFFAFA;
    }

}
@media(max-width:991px) {
    .container {
        width: 100%;
    }
    .header_s {
    
        padding-top: 20px;
        line-height: 25px;
        font-size: 20px;
        font-weight: 300px;
        color: #FFFAFA;
    }
    

}

}
@media(max-width:575px) {
    .container {
        width: 100%;
    }
    .header_s {
    
        padding-top: 20px;
        line-height: 25px;
        font-size: 20px;
        font-weight: 300px;
        color: #FFFAFA;
    }

}